/* PAGE: CONTACT */
.contact-wrapper {
    margin: 0 auto;
    max-width: 90%;
    display: flex;
}
.contact-info{
    flex: 1;
}
.contact-info p{
    font-size: 1.25em;
}

.contact-form{
    width: 800px;
}
.contact-form h1{
    text-align: right;
}

textarea {
    overflow: auto;
    resize: none;
    height: 150px;
}