/* PAGE: CONTACT */
#contact-body {
    display: flex;
}
.contact-info p{
    font-size: 1.25em;
}
.contact-form{
    flex-basis: 600px;
    margin-left: 50px;
}
.contact-form form{
    float: right;
    width: 100%;
}
.contact-form input, textarea {
    display: block;
    width: 100%;
}
textarea {
    overflow: auto;
    resize: none;
    height: 150px;
}