/* FOOTER */
footer{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: solid 1px grey;
    margin-top: 75px;
    position: relative;
}
footer a {
    color: black !important;
}
footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
footer ul li{
    margin-left: 60px;
}
footer ul li:first-child{
    margin: 0;
}
footer p {
    margin-top: 10px;
}
.footer_contact {
    position: absolute;
    left: 100px;
}
.footer_social {
    position: absolute;
    right: 100px;
}