/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.app {

}
a {
    text-decoration: none;
    color: black;
}
/* NAVIGATION */
nav {
    background-color: whitesmoke;
    height: 75px;
    display: flex;
    justify-content: center;
}
.nav__wrapper {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {

}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    margin-left: 40px;
}

/* FOOTER */
footer{
    background-color: whitesmoke;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
footer ul li{

}
footer p {
    margin-top: 10px;
}
/* PAGE: HOME */
.home {
    height: 75vh;
}