/* GLOBAL CSS */
@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

.app {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    max-width: 1700px;
}
.section-heading{
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
    font-style: italic;
    color: #ce2b2c;
}